In [ ]:
#Import Libraries
import pandas as pd
import numpy as np

In [ ]:
#Read Data using panda
df = pd.read_csv('fifa21 raw data v2.csv',low_memory = False)

In [ ]:
#check data 
df.shape

(18979, 77)

In [ ]:
#check the Null Data
df.isnull()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,â†“OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18975,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18976,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18977,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
18978,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
#Remove Duplicates
df.drop_duplicates(inplace = True)

In [ ]:
#Drop the columns that we don't Need
df.drop(['ID','Name', 'photoUrl', 'playerUrl','Loan Date End'], axis = 1, inplace = True)

In [ ]:
#Rename the Columns
df.rename(columns={'â†“OVA': 'OVA', 'LongName': 'Name'}, inplace=True)

In [ ]:
#cleans the column "club"
df.Club = df.Club.str.strip('\n\n\n\n')

In [ ]:
#check the contract column
df.Contract.unique()

array(['Active', 'On Loan', 'Free'], dtype=object)

In [ ]:
#change contract column 
def Contract_val(a):
    if "On Loan" in a:
        a = 'On Loan'
        return a
    elif '~' in a:
        a = 'Active'
        return a
    elif 'Free' in a:
        a = "Free"
        return a

In [ ]:
df.Contract = df.Contract.apply(Contract_val)

In [ ]:
df['Height'].unique()

array([170, 187, 188, 181, 175, 184, 191, 178, 193, 185, 199, 173, 168,
       176, 177, 183, 180, 189, 179, 195, 172, 182, 186, 192, 165, 194,
       167, 196, 163, 190, 174, 169, 171, 197, 200, 166, 164, 198, 201,
       158, 162, 161, 160, 203, 157, 156, 202, 159, 206, 155], dtype=int64)

In [ ]:
def convert_height(x):
    if x[-1] == '"':
        x = x.replace("\"","")
        inch = int(x[2:]) * 2.54
        foot = int(x[0]) * 30.48
        return round(foot+inch)
    elif x[-1] == "m":
        return int(x[:-2])

In [ ]:
df['Height'] = df['Height'].apply(convert_height)

In [ ]:
df['Weight'].unique()

array([72, 83, 87, 70, 68, 80, 71, 91, 73, 85, 92, 69, 84, 96, 81, 82, 75,
       86, 89, 74, 76, 64, 78, 90, 66, 60, 94, 79, 67, 65, 59, 61, 93, 88,
       97, 77, 62, 63, 95, 100, 58, '83', '81', '78', '88', '79', '77',
       '92', '76', '73', '66', '58', '86', '67', '74', '72', '87', '82',
       '63', '69', '71', 98, 103, 99, 102, 56, 101, 57, 55, 104, 107, 110,
       53, 50, 54, 52], dtype=object)

In [ ]:
def convert_weight(x):
    if 'lbs' in x:
        weight_lbs = float(x.strip('lbs'))
        weight_kg = int(weight_lbs * 0.45359237)
        return str(weight_kg)
    else:
        return int(x[:-2])

In [ ]:
df['Weight'] = df['Weight'].apply(convert_weight)

In [ ]:
#changes the column Preferred Foot
print(df["Preferred Foot"].unique())
df["Preferred Foot"] = np.where(df["Preferred Foot"]=="Right", "R", "L")

['Left' 'Right']

In [ ]:
#Rename the Columns
df.rename(columns={'Height': 'Height(cm)', 'Weight(cm)': 'Weight(kg)'}, inplace=True)

In [ ]:
df['Joined'] = pd.to_datetime(df['Joined'])

In [ ]:
df.Value.unique()

array([103500000,  63000000, 120000000, 129000000, 132000000, 111000000,
       120500000, 102000000, 185500000, 110000000, 113000000,  90500000,
        82000000,  17500000,  83500000,  33500000, 114500000,  78000000,
       103000000, 109000000,  92000000,  10000000,  76500000,  89500000,
        87500000,  79500000, 124000000, 114000000,  95000000,  92500000,
       105500000,  88500000,  85000000,  81500000,  26000000,  21000000,
        56000000,  67500000,  53000000,  36500000,  51000000,  65500000,
        46500000,  61500000,  72500000,  77500000,  43500000,  32500000,
        36000000,  32000000,  54000000,  49500000,  57000000,  66500000,
        74500000,  71500000, 121000000,  99000000,  67000000,  86500000,
        93500000,  70000000,  62000000,  66000000,  58000000,  44000000,
        81000000,  37000000,  14500000,  46000000,  47500000,  52500000,
        54500000,  34500000,  57500000,  51500000,  44500000,  55000000,
        48000000,  60500000,  63500000,  61000000,  29000000,  58500000,
        55500000,  42000000,  40500000,  43000000,  45500000,  34000000,
        26500000,  42500000,  35500000,  45000000,  41500000,  40000000,
        11000000,  13500000,  29500000,  27000000,  15500000,  38500000,
        52000000,  33000000,  19000000,  73500000,  38000000,  35000000,
        47000000,  24000000,  30500000,  18000000,  28000000,  25500000,
        25000000,  31000000,  23500000,  30000000,  31500000,  22500000,
        28500000,   4000000,  12500000,  37500000,  27500000,  16000000,
        15000000,  20500000,  22000000,   3400000,   5000000,  56500000,
        62500000,         0,  39000000,  24500000,  21500000,  13000000,
         8000000,  20000000,   8500000,   2900000,   9000000,   4600000,
        50000000,  23000000,  18500000,   7000000,  19500000,   5500000,
         7500000,   3800000,  14000000,  10500000,  16500000,   3600000,
         9500000,  39500000,  17000000,  12000000,  11500000,   4900000,
         3000000,   1900000,   6500000,   1700000,   2400000,   3100000,
         6000000,   3700000,   4700000,   4300000,   2100000,   1200000,
         1800000,   4800000,   3200000,   1300000,    825000,   2300000,
         1500000,   3900000,   2600000,   3500000,   2800000,   2700000,
         4400000,   4099999,    950000,   1600000,    625000,   1100000,
         4500000,   4200000,   2200000,   3300000,   1400000,   2000000,
          475000,    925000,    750000,    725000,   2500000,   1000000,
          350000,    525000,    600000,    850000,    800000,    550000,
          250000,    400000,    425000,    575000,    210000,    325000,
          900000,    875000,    650000,    700000,    500000,    975000,
          375000,    775000,    275000,    180000,    450000,    675000,
          150000,    240000,    300000,    130000,    220000,    200000,
          110000,    170000,    230000,     90000,    120000,     80000,
          190000,    140000,    160000,    100000,     60000,     50000,
           70000,     45000,     35000,     40000,     25000,     20000,
           15000,     30000,      9000], dtype=int64)

In [ ]:
def Value_to_numeric(x):
    if 'K' in x:
        x = x.replace('â‚¬','').replace('K','')
        x = float(x) * 1000
        return int(x)
    else:
        x = x.replace('â‚¬','').replace('M','')
        x = float(x) * 1000000
        return int(x)

df['Value'] = df['Value'].apply(Value_to_numeric)

In [ ]:
df.Wage.unique()

array([   560000,    220000,    125000,    370000,    270000,    240000,
          250000,    160000,    260000,    210000,    310000,    130000,
          350000,    300000,    190000,    145000,    195000,    100000,
          140000,    290000,     82000,    110000,    230000,    155000,
          200000,    165000,     95000,    170000,    105000,    115000,
          150000,    135000,     55000,     58000,     81000,     34000,
          120000,     59000,     90000,     65000,     56000,     71000,
           18000,     75000,     47000,     20000,     84000,     86000,
           74000,     78000,     27000,     68000,     85000,     25000,
           46000,     83000,     54000,     79000,    175000,     43000,
           49000,     45000,     38000,     41000,     39000,     23000,
           51000,     50000,     87000,     30000,     14000,     69000,
           31000,     64000,     53000,     35000,     21000,     28000,
           17000,     33000,     70000,     32000,     89000,     26000,
           40000,     76000,     72000,     48000,     36000,     29000,
           60000,     16000,     37000,     24000,     52000,         0,
           62000,     73000,     63000,     19000,      1000,     66000,
           80000,     12000,      2000,     42000,     13000, 900000000,
           57000,     77000,     61000,     22000,     67000,     44000,
           15000,     11000,      8000, 850000000,     10000,     88000,
       500000000,      7000,      6000,      9000,      5000, 700000000,
       950000000, 750000000,      3000, 650000000, 600000000,      4000,
       800000000, 550000000], dtype=int64)

In [ ]:
def wage_to_numeric(x):
    if 'K' in x:
        x = x.replace('â‚¬','').replace('K','')
        x = float(x) * 1000
        return int(x)
    else:
        x = x.replace('â‚¬','').replace('M','')
        x = float(x) * 1000000
        return int(x)

df['Wage'] = df['Wage'].apply(wage_to_numeric)

In [ ]:
df['Release Clause'].unique()

array([138400000,  75900000, 159400000, ...,     59000,     35000,
           64000], dtype=int64)

In [ ]:
def Release_to_numeric(x):
    if 'K' in x:
        x = x.replace('â‚¬','').replace('K','')
        x = float(x) * 1000
        return int(x)
    else:
        x = x.replace('â‚¬','').replace('M','')
        x = float(x) * 1000000
        return int(x)

df['Release Clause'] = df['Release Clause'].apply(Release_to_numeric)

In [ ]:
df[['W/F', 'SM', 'IR']] = df[['W/F', 'SM', 'IR']].replace('â˜…', '', regex=True).astype(int)
df["Age"] = df["Age"].astype(int)

In [ ]:
df.Hits.unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', 1600,
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', 1100, '433', '242', '206', '177', 1500, '198', '459', '117',
       '119', '209', '84', '187', '165', '203', '65', '336', '126', '313',
       '124', '145', '538', '182', '101', '45', '377', '99', '194', '403',
       '414', '593', '374', '245', 3200, '266', '299', '309', '215',
       '265', '211', '112', '337', '70', '159', '688', '116', '63', '144',
       '123', '71', '224', '113', '168', '61', '89', '137', '278', '75',
       '148', '176', '197', '264', '214', '247', '402', '440', 1700, 2300,
       '171', '320', '657', '87', '259', '200', '255', '253', '196', '60',
       '97', '85', '169', '256', '132', '239', '166', '121', '109', '32',
       '46', '122', '48', '527', '199', '282', '51', 1900, '642', '155',
       '323', '288', '497', '509', '79', '49', '270', '511', '80', '128',
       '115', '156', '204', '143', '140', '152', '220', '134', '225',
       '94', '74', '135', '142', '50', '77', '40', '107', '193', '179',
       '34', '64', '453', '57', '81', '28', '78', '133', '43', '425',
       '88', '42', '36', '233', '376', '210', '444', '100', '263', '98',
       '29', '160', '39', '257', '6', '310', '138', '62', '293', '285',
       '362', '66', '69', '58', '21', '20', '131', '38', '406', '68',
       '108', '110', '93', '512', '443', '306', '352', '422', '585',
       '346', '178', '841', '76', '394', '72', '172', '44', '407', '230',
       '367', '295', '157', '243', '56', '111', '326', '679', '18', '92',
       '59', '25', '184', '53', '12', '90', '55', '73', '11', '566',
       '180', '83', '262', '17', '26', '31', '280', '359', '213', '297',
       '387', '480', '381', '677', '486', '8', '244', '129', '388', '275',
       '319', 2000, '52', '91', '421', '153', '27', '41', '222', '35',
       '102', '23', '30', '33', '146', '13', '19', '14', '106', '276',
       '568', '353', '47', '478', '249', '254', '369', '219', '565',
       '237', '227', '434', '375', '162', '605', '654', '3', '7', '9',
       '104', '114', '186', '446', '756', '22', '139', '500', '67', '147',
       '149', '16', '82', '54', '37', '15', 1300, 3000, '952', '5', '749',
       '541', '330', '393', '517', '770', '409', '170', '125', '283',
       '342', '363', '580', '105', '217', '24', '141', '10', '427', '158',
       '426', '4', '666', '181', '324', '979', 1400, '302', '751', '298',
       '411', '944', '2', '947', '292', '349', '621', '1', 2800, '338',
       '287', '261', '218', 1800, '240', '279', '229', '188', '315',
       '664', '613', '190', '706', '127', '462', '386', '695', '491',
       '167', '281', '250', '307', '95', '231', '174', '680', '633',
       '221', '348', '602', '183', '653', '195', '164', '151', '258',
       8400, '343', '419', '655', '136', '399', '531', '357', '228',
       '385', '312', '340', '238', '487', '355', '499', 4300, '296',
       '515', '943', 1200, '903', '335', '191', '594', '267', '617',
       '516', '504', '331', '652', '410', '550', '473', '442', '344',
       '208', 1000, 2500, '273', '485', '826', '192', '405', '941', '477',
       '644', '303', '417', 6000, 0], dtype=object)

In [ ]:
def hitchange(h):
    if isinstance(h, float):
        return h
    elif "K" in h:
        h = h.replace('K', "")
        h = float(h) * 1000
        return round(h)
    else:
        return h
df['Hits'] = df['Hits'].apply(hitchange)

In [ ]:
df['Hits'] = df['Hits'].fillna(0)

In [ ]:
#A view at Dataset
pd.set_option('display.max_columns', 77)
df.head(10)

,Name,Nationality,Age,OVA,POT,Club,Contract,Positions,Height(cm),Weight(kg),Preferred Foot,BOV,Best Position,Joined,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,Lionel Messi,Argentina,33,93,93,FC Barcelona,Active,"RW, ST, CF",170,72,L,93,RW,2004-07-01,103500000,560000,138400000,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4,4,Medium,Low,5,85,92,91,95,38,65,771
1,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,Active,"ST, LW",187,83,R,92,ST,2018-07-10,63000000,220000,75900000,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4,5,High,Low,5,89,93,81,89,35,77,562
2,Jan Oblak,Slovenia,27,91,93,AtlÃ©tico Madrid,Active,GK,188,87,R,91,GK,2014-07-16,120000000,125000,159400000,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3,1,Medium,Medium,3,87,92,78,90,52,90,150
3,Kevin De Bruyne,Belgium,29,91,91,Manchester City,Active,"CAM, CM",181,70,R,91,CAM,2015-08-30,129000000,370000,161000000,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5,4,High,High,4,76,86,93,88,64,78,207
4,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,Active,"LW, CAM",175,68,R,91,LW,2017-08-03,132000000,270000,166500000,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5,5,High,Medium,5,91,85,86,94,36,59,595
5,Robert Lewandowski,Poland,31,91,91,FC Bayern MÃ¼nchen,Active,ST,184,80,R,91,ST,2014-07-01,111000000,240000,132000000,423,71,94,85,84,89,407,85,79,85,70,88,407,77,78,77,93,82,420,89,84,76,86,85,391,81,49,94,79,88,88,96,35,42,19,51,15,6,12,8,10,2195,457,4,4,High,Medium,4,78,91,78,85,43,82,248
6,Mohamed Salah,Egypt,28,90,90,Liverpool,Active,RW,175,71,L,90,RW,2017-07-01,120500000,250000,144300000,392,79,91,59,84,79,406,90,83,69,75,89,460,94,92,91,92,91,393,80,69,85,75,84,376,63,55,91,84,83,90,122,38,43,41,62,14,14,9,11,14,2211,470,3,4,High,Medium,3,93,86,81,90,45,75,246
7,Alisson Ramses Becker,Brazil,27,90,91,Liverpool,Active,GK,191,91,R,90,GK,2018-07-19,102000000,160000,120300000,114,17,13,19,45,20,138,27,19,18,44,30,268,56,47,40,88,37,240,64,52,32,78,14,140,27,11,13,66,23,65,50,15,19,16,439,86,88,85,91,89,1389,490,3,1,Medium,Medium,3,86,88,85,89,51,91,120
8,Kylian MbappÃ©,France,21,90,95,Paris Saint-Germain,Active,"ST, LW, RW",178,73,R,91,ST,2018-07-01,185500000,160000,203100000,408,78,91,73,83,83,394,92,79,63,70,90,458,96,96,92,92,82,404,86,77,86,76,79,341,62,38,91,80,70,84,100,34,34,32,42,13,5,7,11,6,2147,466,4,5,High,Low,3,96,86,78,91,39,76,1600
9,Marc-AndrÃ© ter Stegen,Germany,28,90,93,FC Barcelona,Active,GK,187,85,R,90,GK,2014-07-01,110000000,260000,147700000,118,18,14,11,61,14,144,21,18,12,63,30,254,38,50,37,86,43,268,66,79,35,78,10,171,43,22,11,70,25,70,48,25,13,10,439,88,85,88,88,90,1442,484,4,1,Medium,Medium,3,88,85,88,90,45,88,130

In [ ]:
df.to_excel('fifa_cleaned_data.xlsx', index=False)